/* Utilities */

:root{
    background-image: linear-gradient(to bottom,  rgba(245, 241, 241, 0.7),
    rgba(245, 241, 241, 0.7)), url(images/background-image.jpg);
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Crimson Text', serif;
    font-size: 18px;
    text-align: center;
    margin: 0;
    padding: 0;
}

header{
    font-family: 'Julius Sans One', sans-serif;
}

.navbar{
    background-color: rgba(32, 212, 143, 0.87);
    height: 40px;
    position: fixed;
    top: 0px;
    width: 100%;
}

.nav-list a{
    display: block;
    text-decoration: none;
}

li{
    list-style: none;
}

p{
    font-weight: 600;
    font-size: 18px;
}

button:hover{
    cursor: pointer;
}

a:hover{
    cursor: pointer;
}

/* Small screens */

@media screen and (min-width: 100px){
    /*Menu/Nav section*/
    
    .hidden{
        display: none;
    }

    .mini-menu{
        border: none;
        position: relative;
        float: right;
        height: 40px;
    }

    .nav-toggle{
        background-color: rgba(32, 212, 143, 0.87);
        width: 40px;
        height: 100%;
        border-radius: 4px;
    }

    .bars{
        display: block;
        background-color: black;
        margin: 4px auto 5px auto;
        padding: 2px;
        border-radius: 3px;
    }

    /*Hero*/
    main{
        padding: 10%;
    }

    section{
        margin-top: 20%;
        margin-bottom: 20%;
    }

    /*Email*/
    .email{
        text-decoration: none;
    }

    /*Projects section*/
    .thumb-syms{
        padding-left: 0px;
        margin-left: 0px;
    }

    .thumbnail{
        display: inline;
    }

    .quiz-pic{
        margin: 0 auto;
        width: 100%;    
    }

    .links a{
        text-decoration: none;
        font-weight: 600;
        color: black;
    }

    .line{
        display: inline;
        color: black;
        border: 1px solid;
        height: auto;
    }

    .source{
        margin-right: 4px;
    }

    .demo{
        margin-left: 8px;
    }
}

/* midsized and large screens */

@media screen and (min-width: 710px){
    /*Nav section*/
    .mini-menu{
        display: none;
    }
    .hidden{
        display: inline;
        height: 40px;
    }

    .main-nav{
        margin-top: 0px;
        display: inline;
    }

    li{
        display: inline;
    }
}
